.footer-command {
  background: var(--panel-background);
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  height: 75px;
  margin-top: 8px;
  text-align: center;

  &__actions {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__button {
    margin: 14px;
    min-width: 100px;
  }
}
