@use '../../styles/base';

.chat-page {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    & > *:first-child {
      flex-basis: 370px;
    }
  }

  &__chat-wrapper {
    flex: 1;
  }

  &__not-found {
    @include base.typography-san-francisco;

    color: base.$color-mars;
    padding: 2rem;
    text-align: center;
  }

  .app-header {
    flex: 0 0;
  }

  .chat-list {
    flex: 0 0 350px;
  }
}
